workflow.json
{
  "name": "Telegram AI Assistant",
  "nodes": [
    {
      "parameters": {
        "updateTypes": ["message"],
        "options": {}
      },
      "id": "96398d1c-778d-4c42-8f57-7df11f669738",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "color": "#4C97EE",
      "icon": "fa:telegram",
      "notes": "Nhận tin nhắn từ Telegram"
    },
    {
      "parameters": {
        "functionCode": "// Xử lý tin nhắn từ Telegram\nconst message = $input.first().message;\nconst chatId = message.chat.id;\n\nreturn {\n  json: {\n    chatId: chatId,\n    message: message.text,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "7a8b9c0d-1e2f-3g4h-5i6j-7k8l9m0n1o2p",
      "name": "AI Agent",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "color": "#666666",
      "icon": "fa:robot",
      "notes": "Tools Agent"
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": "={{$node[\"AI Agent\"].json[\"message\"]}}",
        "options": {
          "model": "gpt-4"
        }
      },
      "id": "3q4r5s6t-7u8v-9w0x-1y2z-3a4b5c6d7e8f", 
      "name": "OpenRouter Chat Model",
      "type": "n8n-nodes-base.openRouter",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "color": "#404040",
      "icon": "fa:comments",
      "notes": "Chat Model"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": "={{$node[\"AI Agent\"].json[\"fileId\"]}}",
        "options": {}
      },
      "id": "5w6x7y8z-9a0b-1c2d-3e4f-5g6h7i8j9k0l",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "color": "#1A73E8",
      "icon": "fa:google-drive",
      "notes": "Lưu trữ và tải file"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "Chat Model": [
        [
          {
            "node": "OpenRouter Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "default",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": ["telegram", "ai", "automation"],
  "pinData": {},
  "versionId": 1,
  "meta": {
    "instanceId": "YOUR_INSTANCE_ID"
  }
}